.control-sm {
    max-width:280px;
}
input[type="file"] {
    display: inline;
}

.panel, .panel > .panel-heading{
    border-color: #888;
}

.panel > .panel-heading{
    background-color: #333;
    color: #d9edf7;
}